<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849315931892-8p4eqvabslm5du2a457bccv12e78gduv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849315931892-8p4eqvabslm5du2a457bccv12e78gduv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHz3LtjTU6ViBYRQ7iaUNHUE0r9G6naXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>849315931892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tarefas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tarefasdiarias-ed6b3</string>
	<key>STORAGE_BUCKET</key>
	<string>tarefasdiarias-ed6b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849315931892:ios:cb79744ea77b4a6bf220a1</string>
</dict>
</plist>